# Ignore compiled files
*.o
*.out
*.exe

# Ignore Xcode specific files
*.xcuserstate
*.xcodeproj/project.xcworkspace/
Pods/

# Ignore environment files
.env

GoogleService-Info.plist
build/
DerivedData/
*.log
*.sqlite
*.db

FutureDevelopment/

